@model IEnumerable<_13_2_2023.Models.Major>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Major_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Major_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Faculty.Faculties_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Major_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Major_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Faculty.Faculties_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Major_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Major_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Major_Id })
        </td>
    </tr>
}

</table>
