@model _2_2Task.Models.Employeee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employeee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            First Name
            @*@Html.DisplayNameFor(model => model.First_Name)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            Last Name
            @*@Html.DisplayNameFor(model => model.Last_Nama)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Job Title
            @*@Html.DisplayNameFor(model => model.Job_Title)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @if (Model.Gender == true)
            {
                <span>Female</span>
            }
            else
            {
                <span>Male</span>
            }
            @*@Html.DisplayFor(model => model.Gender)*@
        </dd>
        <dt>

            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            <img src="~/pic/@Model.Photo" width="50" />
            @*@Html.DisplayFor(model => model.Photo)*@
        </dd>


        <dt>

            @Html.DisplayNameFor(model => model.CV)
        </dt>
        <dd>
            <a href="~/pdf/@Model.CV" download>CV</a>
            @*@Html.DisplayFor(model => model.CV)*@
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
