@model IEnumerable<_1_2_2023Task.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Stock
        </th>
        <th>
            Unit Price 
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <span>@item.ProductName</span>
            @*@Html.DisplayFor(modelItem => item.ProductName)*@
        </td>
        <td>
            <span>@item.Stock</span>
            @*@Html.DisplayFor(modelItem => item.Stock)*@
        </td>
        <td>
            <span>@item.UnitPrice</span>
            @*@Html.DisplayFor(modelItem => item.UnitPrice)*@
        </td>
        <td>
            <span>@item.Category.CategoryName</span>
            @*@Html.DisplayFor(modelItem => item.Category.CategoryName)*@
        </td>
        <td>
            <a class="btn btn-primary" href="Edit/@item.ProductId">Edit</a>
            <a class="btn btn-success" href="Details/@item.ProductId">Details</a>
            <a class="btn btn-danger" href="Delete/@item.ProductId">Delete</a>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ProductId }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Details", "Details", new { id = item.ProductId }, new { @class = "btn btn-success" })
            @Html.ActionLink("Delete", "Delete", new { id = item.ProductId }, new { @class = "btn btn-danger" })*@
        </td>
    </tr>
}

</table>
